@model Warehouse_MS.Models.Product

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<a class="btn btn-primary" href="Index">Get Back to Products</a>



<h3>Add A New Product</h3>
@if (TempData["AlertMessage"] != null)
{
    <div class="alert-success" style=" color: red; height:30px ;font-size: 15px;font-family: 'Raleway Bold';">
        @TempData["AlertMessage"]

    </div>
}
<form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input asp-for="@Model.Name" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Description</label>
        <input asp-for="@Model.Description" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ExpiredDate</label>
        <input asp-for="@Model.ExpiredDate" class="form-control" id="exampleFormControlInput1">
    </div>





    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ProductType</label>
        <select asp-for="@Model.ProductTypeId" asp-items="ViewBag.ProductTypes"></select>
    </div>


    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Size In Unit</label>
        <input asp-for="@Model.SizeInUnit" class="form-control" id="exampleFormControlInput1">
    </div>




    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Storage</label>
        <select asp-for="@Model.StorageId" asp-items="ViewBag.Storages"></select>

    </div>




    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Storage Type</label>
        <select asp-for="@Model.StorageTypeId" asp-items="ViewBag.StorageTypes"></select>
    </div>



    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Weight</label>
        <input asp-for="@Model.Weight" class="form-control" id="exampleFormControlInput1">
    </div>


    <button class="btn btn-primary" type="submit">Submit</button>

</form>

