@model Warehouse_MS.Models.Product

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "_Layout";
}

@*<h3>Create A Product</h3>

    <form asp-controller="Products" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input hidden asp-for="@Model.Id">



        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input asp-for="@Model.Name" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Description</label>
            <input asp-for="@Model.Description" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Date</label>
            <input asp-for="@Model.Date" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ExpiredDate</label>
            <input asp-for="@Model.ExpiredDate" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Photo</label>
            <input asp-for="@Model.Photo" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ProductType</label>
            <input asp-for="@Model.ProductType" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ProductTypeId</label>
            <input asp-for="@Model.ProductTypeId" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">SizeInUnit</label>
            <input asp-for="@Model.SizeInUnit" class="form-control" id="exampleFormControlInput1">
        </div>


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Storage</label>
            <input asp-for="@Model.Storage" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">StorageId</label>
            <input asp-for="@Model.StorageId" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">StorageType</label>
            <input asp-for="@Model.StorageType" class="form-control" id="exampleFormControlInput1">
        </div>


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">StorageTypeId</label>
            <input asp-for="@Model.StorageTypeId" class="form-control" id="exampleFormControlInput1">
        </div>


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Transaction</label>
            <input asp-for="@Model.Transaction" class="form-control" id="exampleFormControlInput1">
        </div>


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Weight</label>
            <input asp-for="@Model.Weight" class="form-control" id="exampleFormControlInput1">
        </div>


        <button class="btn btn-primary" type="submit">Submit</button>

    </form>*@


<div class="container-xxl flex-grow-2 container-p-y">
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="mb-2">Edit A Product</h4>
                        </div>
                        <form asp-controller="Products" asp-action="Edit" method="post" enctype="multipart/form-data">
                            <input hidden asp-for="@Model.Id">
                            <input hidden asp-for="@Model.BarcodeNum">



                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-fullname"> Name</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">

                                        <i class='bx bx-home-alt'></i>
                                    </span>
                                    <input type="text"
                                           class="form-control"
                                           id="basic-icon-default-fullname"
                                           placeholder="Name"
                                           aria-label="Name"
                                           aria-describedby="basic-icon-default-fullname2"
                                           asp-for="@Model.Name" />
                                    @Html.ValidationMessageFor(x => x.Name)

                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-company">Description</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-company2" class="input-group-text">
                                        <i class='bx bxs-detail'></i>
                                    </span>
                                    <input type="text"
                                           id="basic-icon-default-company"
                                           class="form-control"
                                           placeholder="Description"
                                           aria-label="Description"
                                           aria-describedby="basic-icon-default-company2"
                                           asp-for="@Model.Description" />
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-company">Size In Unit</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-company2" class="input-group-text">
                                        <i class="bx bx-buildings"></i>
                                    </span>
                                    <input type="number"
                                           id="basic-icon-default-company"
                                           class="form-control"
                                           placeholder="Size In Unit"
                                           aria-label="Size In Unit"
                                           aria-describedby="basic-icon-default-company2"
                                           asp-for="@Model.SizeInUnit" />
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-phone"> Date</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-phone2" class="input-group-text">
                                        <i class='bx bx-area'></i>
                                    </span>
                                    <input type="date"
                                           id="basic-icon-default-phone"
                                           class="form-control phone-mask"
                                           placeholder="Date"
                                           aria-label="Date"
                                           aria-describedby="basic-icon-default-phone2"
                                           asp-for="@Model.Date" />
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-phone"> Expiration Date</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-phone2" class="input-group-text">
                                        <i class='bx bx-area'></i>
                                    </span>
                                    <input type="date"
                                           id="basic-icon-default-phone"
                                           class="form-control phone-mask"
                                           placeholder="Expiration Date"
                                           aria-label="Expiration Date"
                                           aria-describedby="basic-icon-default-phone2"
                                           asp-for="@Model.ExpiredDate" />
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-phone"> Weight</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-phone2" class="input-group-text">
                                        <i class='bx bx-area'></i>
                                    </span>
                                    <input type="number"
                                           id="basic-icon-default-phone"
                                           class="form-control phone-mask"
                                           placeholder="Weight"
                                           aria-label="Weight"
                                           aria-describedby="basic-icon-default-phone2"
                                           asp-for="@Model.Weight" />
                                </div>
                            </div>


                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-phone"> Product Type Id</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-phone2" class="input-group-text">
                                        <i class='bx bx-area'></i>
                                    </span>
                                    <input type="number"
                                           id="basic-icon-default-phone"
                                           class="form-control phone-mask"
                                           placeholder="Product Type Id"
                                           aria-label="Product Type Id"
                                           aria-describedby="basic-icon-default-phone2"
                                           asp-for="@Model.ProductTypeId" />
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-phone"> Storage Id</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-phone2" class="input-group-text">
                                        <i class='bx bx-area'></i>
                                    </span>
                                    <input type="number"
                                           id="basic-icon-default-phone"
                                           class="form-control phone-mask"
                                           placeholder=" Storage Id"
                                           aria-label=" Storage Id"
                                           aria-describedby="basic-icon-default-phone2"
                                           asp-for="@Model.StorageId" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-phone"> Storage Type Id</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-phone2" class="input-group-text">
                                        <i class='bx bx-area'></i>
                                    </span>
                                    <input type="number"
                                           id="basic-icon-default-phone"
                                           class="form-control phone-mask"
                                           placeholder=" Storage Type Id"
                                           aria-label=" Storage Type Id"
                                           aria-describedby="basic-icon-default-phone2"
                                           asp-for="@Model.StorageTypeId" />
                                </div>
                            </div>


                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <button class="btn btn-primary w-50" type="submit">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


