@model Warehouse_MS.Models.ProductType
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@*<div class="form-outline mb-4">
        <label class="form-label" for="form3Example3"> StorageType Name</label>

        <input asp-for="@Model.Name" type="text" class="form-control form-control-lg" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3"> Description </label>

        <input asp-for="@Model.Description" type="text" class="form-control form-control-lg" />
    </div>*@

<div class="container-xxl flex-grow-2 container-p-y">
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h4 class="mb-2">Edit Product Type</h4>
                        </div>
                        <form asp-controller="ProductType" asp-action="Edit" method="post">


                            <input hidden asp-for="@Model.Id" />


                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-fullname"> Name</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-fullname2" class="input-group-text">

                                        <i class='bx bx-home-alt'></i>
                                    </span>
                                    <input type="text"
                                           class="form-control"
                                           id="basic-icon-default-fullname"
                                           placeholder="Name"
                                           aria-label="Name"
                                           aria-describedby="basic-icon-default-fullname2"
                                           asp-for="Name" />
                                    @Html.ValidationMessageFor(x => x.Name)

                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="basic-icon-default-company">Description</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-company2" class="input-group-text">
                                        <i class='bx bxs-detail'></i>
                                    </span>
                                    <input type="text"
                                           id="basic-icon-default-company"
                                           class="form-control"
                                           placeholder="Description"
                                           aria-label="Description"
                                           aria-describedby="basic-icon-default-company2"
                                           asp-for="@Model.Description" />
                                </div>
                            </div>





                            <div class="container">
                                <div class="row">
                                    <div class="col text-center">
                                        <button class="btn btn-primary w-50" type="submit">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


