@model Warehouse_MS.Models.Storage
@{
    Layout = "_Empty";
}
<h3>Add a new category</h3>

<form asp-controller="Storage" asp-action="Create" method="post">
    <label>
        <span>Name</span>
    </label>
    <br />
    <input asp-for="@Model.Name"/>
    <br />
    <br />
    <label>
        <span>SizeInUnit</span>
    </label>
    <br />
    <input asp-for="@Model.SizeInUnit"/>
    <br />
    <br />
    <label>
        <span>LocationInWarehouse</span>
    </label>
    <br />
    <input asp-for="@Model.LocationInWarehouse"/>
    <br />
    <br />
    <label>
        <span>Description</span>
    </label>
    <br />
    <input asp-for="@Model.Description"/>
    <br />
    <br />
    <label>
        <span>WarehouseId</span>
    </label>
    <br />
    <input asp-for="@Model.WarehouseId"/>
    <br />
    <br />
    <label>
        <span>StorageTypeId</span>
    </label>
    <br />
    <input asp-for="@Model.StorageTypeId"/>
    <br />
    <br />
    <button type="submit">
            Add Storage
    </button>
    <br />
</form>