@using Warehouse_MS.Models.DTO
@model List<WarehouseDto>
@{
    Layout = "_Layout";
}
@*<h4>Storage Page</h4>
        <hr />
    <p>
        <a asp-controller="Storage" asp-action="Create">Create New</a>
    </p>
    <table border=1 class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    SizeInUnit
                </th>
                <th>
                    LocationInWarehouse
                </th>
                <th>
                    Description
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Details
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeInUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationInWarehouse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-controller="Storage" asp-action = "Edit" asp-route-id =@item.Id>Edit</a>
                </td>
                <td>
                    <a asp-controller="Storage" asp-action="Details" asp-route-id=@item.Id>Details</a>
                </td>
                <td>
                    <a asp-controller="Storage" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@


@*<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5" style="height:20rem;">
        @foreach (WarehouseDto item in Model )
        {
            <div class="col">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@item..Name</h5>
                            <h6 class="card-subtitle text-muted">@item.LocationInWarehouse</h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text">@item.SizeInUnit</p>
                            <a class="btn btn-primary" href="/Storage/Details?id=@item.Id">Details</a>
                            <a class="btn btn-primary" href="/Storage/Edit?id=@item.Id">Edit</a>
                            <a class="btn btn-danger" href="/Storage/Delete?id=@item.Id">Delete</a>


                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>*@

