@model Warehouse_MS.Auth.Models.Dto.RegisterDto

@{
    Layout = "_AuthLayout";
}

<div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register Card -->
          <div class="card">
            <div class="card-body">
              <h4 class="mb-2">Create new account</h4>

              <form asp-controller="auth" asp-action="SignUp" method="post">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input asp-for="@Model.UserName"
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter your username"
                    autofocus
                  />
                  <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input asp-for="@Model.Email" type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
                  <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="mb-3 form-password-toggle">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group input-group-merge">
                    <input asp-for="@Model.Password"
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password"
                    />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                  <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                    <label class="form-check-label" for="terms-conditions">
                      I agree to
                      <a href="javascript:void(0);">privacy policy & terms</a>
                    </label>
                  </div>
                </div>
                <div class="text-center">
                <button class="btn btn-primary d-grid w-100" type="submit">Sign up</button>
                </div>
              </form>
              <br />
              <br />
              <p class="text-center">
                <span>Already have an account?</span>
                <a href="/auth/index">
                  <span>Sign in instead</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>